<div class="card" style="background-color: #f2a846">
  <h6 class="card-header">{{title}}</h6>
  <div class="card-body">
    <div class="d-flex flex-row">
      <div *ngIf="editable" class="flex-fill"></div>
      <i *ngIf="editable" class="mx-1 fa fa-pencil-square" style="font-size: 1.25em;" (click)="onEdit()"></i>
      <i *ngIf="editable" class="ml-1 fa fa-minus-square" style="font-size: 1.25em;" (click)="onRemove()"></i>
    </div>
    <p *ngIf="!isImage" class="card-text">{{content}}</p>
    <div *ngIf="isImage">
      <div>
        <img src="{{content}}" alt="" style="width: 100%;">
      </div>
    </div>
  </div>
</div>