.container {
    height: 100%;
}

.nav-link {
    color: white;
    font-size: 1.25em;
}


.nav-link .active {
    text-decoration: underline;
}

.content {
    background-color: #f6cd60;
    // height: 100%;
    color: white;
    // overflow: auto;
}

