.container {
    height: 100%;
}

.nav-link {
    color: white;
    font-size: 1.25em;
}


.nav-link .active {
    text-decoration: underline;
}

.content {
    background-color: #f6cd60;
    // height: 100%;
    color: white;
    // overflow: auto;
}


.centralize_justify {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 500;
	padding: 10px;

}