<ion-header>
  <ion-toolbar>
    <ion-title>food Journal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="LogMeal">
    <a [routerLink]="'/entry'">Log A Meal</a>
  </div>
  <div class="Content">
    <p class="date">May 1st, 2019</p>

    <div class="card">
      <ion-grid>
        <ion-row>
          <ion-col size="2"><ion-icon name="text"></ion-icon></ion-col>
          <ion-col size="10">Veggie Pizza, 2 slices</ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="2"><ion-icon name="play-circle"></ion-icon></ion-col>
          <ion-col size="10">This is what was recorded</ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="2"><ion-icon name="search"></ion-icon></ion-col>
          <ion-col size="10">This is what was searched</ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div class="card">
        <ion-grid>
          <ion-row>
            <ion-col size="2"><ion-icon name="text"></ion-icon></ion-col>
            <ion-col size="10">Veggie Pizza, 2 slices</ion-col>
          </ion-row>
  
          <ion-row>
            <ion-col size="2"><ion-icon name="play-circle"></ion-icon></ion-col>
            <ion-col size="10">This is what was recorded</ion-col>
          </ion-row>
  
          <ion-row>
            <ion-col size="2"><ion-icon name="search"></ion-icon></ion-col>
            <ion-col size="10">This is what was searched</ion-col>
          </ion-row>
        </ion-grid>
      </div>



  </div>


  <div class="footer">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="4" (click)="nav(0)"><ion-icon name="bookmarks"></ion-icon></ion-col>
        <ion-col class="selected" size="4" (click)="nav(1)"><ion-icon name="home"></ion-icon></ion-col>
        <ion-col size="4" (click)="nav(2)"><ion-icon name="settings"></ion-icon></ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
