ion-toolbar {
    // --background: rgb(246, 205, 96);
    --background: rgb(242, 168, 70);

    color: white;

    ion-back-button {
        color:white;
    }
}

ion-content {
    // --background: rgb(242, 168, 70);
    --background: rgb(246, 205, 96);

}

ion-item {
    // --background: rgb(242, 168, 70);
    --background: rgb(246, 205, 96);

    --color: white;
    ion-label {
        text-align: center;
    }
}

ion-button {
    --background: #009979;
}

// ion-label {
//     margin-left: auto;
//     margin-right: auto;
    
// }