<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Take a picture</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid style="height: 100%; display: flex; flex-flow: column;">
    <ion-row style="flex-grow: 1;">
      <ion-col size="12">
        <!-- <ion-img></ion-img> -->
        <ion-item lines="none">
          <img *ngIf="myphoto" src="{{ myphoto }}" alt="image of food">
          <ion-label *ngIf='!myphoto'>No Image Yet</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size='12'>
        <ion-button expand='full' (click)='onPhoto()'>Open Camera</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size='12'>
        <ion-button expand='full' (click)='onSave()'>Save</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>