ion-toolbar {
    --background: rgb(246, 205, 96);
    color: white;
}

p{
  color: white;
}

ion-icon {
    font-size: 3em;
    color: white;
    // margin-left: 5vw;
}


ion-content {
    --background: rgb(242, 168, 70);
}

ion-card{
//  color:blue;
  --background: rgb(175, 218, 226);
}

ion-card-content{
  text-align: left;
}
