<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Entry</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<div *ngIf="modalities_list.length == 0">
      <p>Instructions: To get started, click on the blue icon on the bottom left.</p>
  </div>

  <div *ngIf="modalities_list.length > 0">
    <p>testing</p>
  </div>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button id="main">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="top">
      <ion-fab-button><ion-icon name="barcode"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon name="clipboard"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon name="search"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon name="mic"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon name="globe"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon name="camera"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button id="submit">
        <ion-icon name="checkmark"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
