<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Entry</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<div *ngIf="modalities_list.length == 0">
      <p>Instructions: To get started, click on the blue icon on the bottom left.</p>
  </div>

  <div *ngIf="modalities_list.length > 0">
    <p>testing</p>
  </div>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button id="main">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="top">
      <ion-fab-button><ion-icon (click)="navigate(0)" name="barcode"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon (click)="navigate(1)" name="clipboard"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon (click)="navigate(2)" name="search"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon (click)="navigate(3)" name="mic"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon (click)="navigate(4)" name="globe"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon (click)="navigate(5)" name="camera"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button id="submit" (click)='onSubmit()'>
        <ion-icon name="checkmark"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <!-- <h1 *ngIf="logService.data.entries.length == 0">No Entries Yet</h1> -->

  <!-- <div class="content" *ngFor="let entry of logService.data.entries; let i = index">
    <h4>Index {{i+1}}</h4>
    <p>Mode: {{entry['modality']}}</p>
    <p *ngIf="entry['entry'] != 'base64_img'">Entry: {{entry['entry']}}</p>
    <img src="{{entry['data']}}" *ngIf="entry['entry']=='base64_img'">
    

    <ion-button (click)="edit(i)">Edit</ion-button>
  </div> -->

  <div class="Content">
    <div class="card" *ngIf='logService.data.entries.length != 0'>
      <ion-grid>

        <ion-row *ngFor="let entry of logService.data.entries">
          <ion-col size="2" *ngIf="entry['modality'] === 'database'"><ion-icon name="search"></ion-icon></ion-col>
          <ion-col size="2" *ngIf="entry['modality'] === 'foodDsrp'"><ion-icon name="clipboard"></ion-icon></ion-col>
          <ion-col size="2" *ngIf="entry['modality'] === 'url'"><ion-icon name="globe"></ion-icon></ion-col>
          <ion-col size="2" *ngIf="entry['modality'] === 'voice'"><ion-icon name="mic"></ion-icon></ion-col>
          <ion-col size="2" *ngIf="entry['modality'] === 'foodImg'"><ion-icon name="camera"></ion-icon></ion-col>
          <ion-col size="2" *ngIf="entry['modality'] === 'barcode'"><ion-icon name="barcode"></ion-icon></ion-col>

          <ion-col size="10" *ngIf="entry['entry'] != 'base64_img'">{{entry['entry']}}</ion-col>
          <ion-col size="10" *ngIf="entry['entry'] === 'base64_img'"><img src="{{entry['data']}}" alt="image"></ion-col>
        </ion-row>

      </ion-grid>
    </div>

    <div *ngIf='logService.data.entries.length == 0'>
      <h1>No entries yet</h1>
    </div>

  </div>

</ion-content>
