.modal-content {
    // background-color:#f2a846;
    background-color: #f6cd60;
    color: white;
}

.save-btn {
    background-color: #009979;
    color: white;
}

textarea {
    background-color: #94e5d4;
    // color: white;
}

// textarea:focus {
    // background-color: #94e5d4;
    // color: white;
// }