<ion-header>
  <ion-toolbar>
    <ion-title>food Journal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="LogMeal">
    <a [routerLink]="'/entry'">Log A Meal</a>
  </div>
  <div class="Content">
    <p class="date">May 23, 2019</p>

    <!-- <div class="card">
      <ion-grid>
        <ion-row>
          <ion-col size="2"><ion-icon name="text"></ion-icon></ion-col>
          <ion-col size="10">Veggie Pizza, 2 slices</ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="2"><ion-icon name="play-circle"></ion-icon></ion-col>
          <ion-col size="10">This is what was recorded</ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="2"><ion-icon name="search"></ion-icon></ion-col>
          <ion-col size="10">This is what was searched</ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="card">
      <ion-grid>
        <ion-row>
          <ion-col size="2"><ion-icon name="text"></ion-icon></ion-col>
          <ion-col size="10">Veggie Pizza, 2 slices</ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="2"><ion-icon name="play-circle"></ion-icon></ion-col>
          <ion-col size="10">This is what was recorded</ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="2"><ion-icon name="search"></ion-icon></ion-col>
          <ion-col size="10">This is what was searched</ion-col>
        </ion-row>
      </ion-grid>
    </div> -->

    <div class="card" *ngFor="let log of logsToday; let i = index">
      <ion-grid>
        <ion-row *ngFor="let e of log.entries">
          <ion-col size="2" *ngIf="e.modality === 'database'"><ion-icon name="search"></ion-icon></ion-col>
          <ion-col size="2" *ngIf="e.modality === 'foodDsrp'"><ion-icon name="text"></ion-icon></ion-col>
          <ion-col size="2" *ngIf="e.modality === 'url'"><ion-icon name="globe"></ion-icon></ion-col>
          <ion-col size="2" *ngIf="e.modality === 'voice'"><ion-icon name="mic"></ion-icon></ion-col>
          <ion-col size="2" *ngIf="e.modality === 'foodImg'"><ion-icon name="camera"></ion-icon></ion-col>
          <ion-col size="2" *ngIf="e.modality === 'barcode'"><ion-icon name="barcode"></ion-icon></ion-col>
          
          <!-- <ion-col size="10">{{e.entry}}</ion-col> -->
          <ion-col size="10" *ngIf="e.modality !== 'foodImg'">{{e.entry}}</ion-col>
          <!-- <ion-col size="10" *ngIf="e.modality === 'foodImg'"><img id='img-{{i}}' src="{{getImgURL(i, e.entry)}}"></ion-col> -->
        </ion-row>
      </ion-grid>
    </div>
  </div>


  <div class="footer">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="4" (click)="nav(0)"><ion-icon name="bookmarks"></ion-icon></ion-col>
        <ion-col size="4" (click)="nav(1)"><ion-icon class="selected" name="home"></ion-icon></ion-col>
        <ion-col size="4" (click)="nav(2)"><ion-icon name="settings"></ion-icon></ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
