ion-toolbar {
    --background: rgb(246, 205, 96);
    color: white;
}

.footer {
    height: 10vh;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(246, 205, 96);

    #selected {
        // display: none;
        color: green;
    }

    ion-icon {
        font-size: 3em;
        color: white;
        // margin-left: 5vw;
    }



    ion-col {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

ion-content {
    --background: rgb(242, 168, 70);
}

.Content {
    height: 40vh;
    width: 100%;
    padding-left: 5vw;
    padding-right: 5vw;
    color: white;

    .card {
        background-color: rgb(148, 213, 228);
        padding-top: 5vh;
        padding-bottom: 2vh;
        border-radius: 25px;
        margin-bottom: 5vh;
    }
    margin-bottom: 35vh;
}

h1{
  color: white
}

.button{
  text-align: center;
}

ion-icon {
    font-size: 2.5em;
}

.icon {
  fill: #000;
}
