<ion-header>
  <ion-toolbar>
    <ion-title>food Journal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <div class="footer">
        <ion-grid>
          <ion-row class="ion-justify-content-center">
            <ion-col id="selected" size="4" (click)="nav(0)"><ion-icon name="bookmarks"></ion-icon></ion-col>
            <ion-col size="4" (click)="nav(1)"><ion-icon name="home"></ion-icon></ion-col>
            <ion-col size="4" (click)="nav(2)"><ion-icon name="settings"></ion-icon></ion-col>
          </ion-row>
        </ion-grid>
      </div>
</ion-content>
