ion-toolbar {
	// --background: rgb(246, 205, 96);
	--background: rgb(242, 168, 70);
	color: white;
}

p {
	color: white;
}

ion-icon {
	font-size: 3em;
	color: white;
}

.back {
	text-align: right;
}
.forward,
.day {
	text-align: left;
}
.date {
	text-align: center;
	--background: rgb(242, 168, 70);
	color: white;
}

ion-content {
	// --background: rgb(242, 168, 70);
	--background: rgb(246, 205, 96);
}

ion-card {
	color: white;
	--background: #009979;
}

ion-card-content {
	text-align: left;
}

.card-icon {
	border-radius: 10px;
	border: 1.5px solid white;
	padding: 5px;
	// margin: 10px;
	display: flex;
	// justify-content: center;
	align-items: center;
}

.centralize {
	display: flex;
	align-items: center;
}

.centralize_justify {
	display: flex;
	justify-content: center;
	align-items: center;
}

.selected {
	color: #009979;
}

.title {
	text-align: center;
	margin-top: 2vh;
	a {
		text-decoration: none;
		color: white;
		width: 30vh;
		display: inline-block;
		line-height: 0.5vh;
		// background-color: #009979;
		font-weight: 900;
		font-size: 2em;
	}
}
hr {
	background: white;
}

// Give room for scrolling to bottom and cards not stuck under the footer bar
.entries {
	margin-bottom: calc(84px + env(safe-area-inset-bottom));
}

fiv-app-bar {
	--fiv-color-appbar: rgb(242, 168, 70);
	--fiv-appbar-background-color: rgb(246, 205, 96);
	--fiv-color-fab-icon: #009979;
	--ion-color-primary: white;

	--fiv-color-icons: white;
	--fiv-color-icons-active: #009979;
}

fiv-app-bar-tab {
	--fiv-appbar-background-color: rgb(242, 168, 70);
}

fiv-fab {
	--background: #009979;
}

.SearchCard {
	background-color: #17a2b8;
	color: white;
	// margin-left: 20px;
	// margin-right: 20px;
	// border-radius: 5px;
}

.SearchCardTitle {
  font-size: 1.25em;
}