ion-toolbar {
    // --background: rgb(246, 205, 96);
    --background: rgb(242, 168, 70);
    color: white;
}

.footer {
    height: 10vh;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    // background-color: rgb(246, 205, 96);
    background-color: rgb(242, 168, 70);

    ion-col {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}
p{
  color: white;
}

ion-icon {
    font-size: 3em;
    color: white;
}

.back{
  text-align: right;
}
.forward, .day{
  text-align:left;
}
.date{
  text-align: center;
}

ion-content {
    // --background: rgb(242, 168, 70);
    --background: rgb(246, 205, 96);
}

ion-card{
  color:white;
  --background: #009979;
}

ion-card-content{
  text-align: left;
}

.selected {
    color: #009979;
}

.title {
  text-align: center;
  margin-top: 2vh;
  a {
      text-decoration: none;
      color: white;
      width: 30vh;
      display:inline-block;
      line-height: 0.5vh;
      // background-color: #009979;
      font-weight: 900;
      font-size: 2em;
  }
}