<div style="position: absolute; top: 0; right: 0;">
  <div class="toast mr-2 mt-2" role="alert" data-delay="700" data-autohide="false">
    <div class="toast-header">
      <strong class="mr-auto text-danger">Warning</strong>
      <!-- <small class="text-muted">3 mins ago</small> -->
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="toast-body">
      Nothing to be saved!
    </div>
  </div>
</div>

<div class="container d-flex flex-column">


  <ul class="nav justify-content-center align-items-center py-4">
    <li class="nav-item mx-4">
      <a [routerLink]="['/main']" class="nav-link"><u>Journal</u></a>
    </li>
    <li class="nav-item mx-4">
      <a [routerLink]="['/history']" class="nav-link">History</a>
    </li>
    <li class="nav-item mx-4">
      <a [routerLink]="['/survey']" class="nav-link">Survey</a>
    </li>
    <li class="nav-item">
      <button class="btn btn-danger rounded-pill" (click)='logout()'><i class="fa fa-stop-circle-o mr-1"
        style="color: white;"></i>Logout</button>
    </li>
  </ul>

  <div class="content flex-grow-1">

    <div class="row mx-0 py-4 px-4">
      <div class="col-10">
        <h1 class="h3">{{date | date:'EEEE, MMMM d'}}</h1>
        <h1 class="h3">Welcome, {{db.col}}</h1>
      </div>
      <div class="col-2 d-flex justify-content-center align-items-center">
        <button class='btn newEntry' [ngClass]="{'disabled': draft}" (click)="onNewEntry()">NEW ENTRY</button>
      </div>
    </div>

    <div class="draft-box mx-4" *ngIf="draft">
      <div class="row py-4 mx-0">
        <div class="col-8 d-flex flex-row">
          <button class="btn addB mx-1 rounded-pill" (click)='onNewModal(0)'>+ Description</button>
          <button class="btn addB mx-1 rounded-pill" (click)='onNewModal(1)'>+ Database Search</button>
          <button class="btn addB mx-1 rounded-pill" (click)='onNewModal(2)'>+ Image</button>
          <button class="btn addB mx-1 rounded-pill" (click)='onNewModal(3)'>+ URL</button>
          <!-- <button class="btn addB mx-1 rounded-pill" (click)='onNewModal(4)'>+ Voice</button>
          <button class="btn addB mx-1 rounded-pill" (click)='onNewModal(5)'>+ Barcode</button> -->

          <!-- voice / barcode (image/numeric) -->
          <!-- Image: FileUpload + capture new picture -->

        </div>
        <div class="col-4 d-flex flex-row justify-content-around">
          <button class="btn shadow func" id="clear" (click)="onClear()">{{clear}}</button>
          <!-- dialog -->
          <button class="btn shadow func" id="save" (click)="onSave()">SAVE</button>
        </div>

      </div>

      <div class="draft-content">
        <div class="row mx-0">

          <app-record-card class='col-lg-3 col-md-6 col-sm-12 px-2 my-2'
            *ngFor="let entry of conm.draftEntries; let i = index;" title="{{entry['title']}}"
            content="{{entry['content']}}" editable="true" index="{{i}}">
          </app-record-card>

        </div>
      </div>

    </div>

    <div *ngIf="(!logs || logs.length === 0) && !draft " class="d-flex flex-row justify-content-center">
      <p class="h3"><em>Nothing recorded yet.</em></p>
    </div>

    <div *ngFor="let log of logs" class="saved-content mx-4 my-4 py-2 rounded shadow"
      style="background-color: #F6C459;">
      <p class="ml-3 px-0 py-0 mb-0"><em>{{ log.date.toDate() | date:'hh:mm a' }}</em></p>
      <div class="row mx-0">
        <app-record-card class="col-lg-3 col-md-6 col-sm-12 px-2 my-2" *ngFor="let entry of log.entries"
          title="{{entry['modality']}}" content="{{entry['entry']}}">
        </app-record-card>
      </div>
    </div>

  </div>
</div>
<app-input-modal #inputDialog></app-input-modal>

<div class="modal fade" id="mpDialog" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="d-flex align-items-center justify-content-center">
          <strong>Loading...</strong>
          <div class="spinner-border" role="status" aria-hidden="true"></div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="warningDialog" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="warningDialogTitle">Warning</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        You have unsaved contents. Do you still want to clear?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="onCancelClose()">No</button>
        <button type="button" class="btn btn-danger" (click)="onCancelConfirm()">Yes</button>
      </div>
    </div>
  </div>
</div>