<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Search For Food</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  
      <ion-item lines="none">
          <ion-label position="stacked" style="margin-bottom: 10px;">Enter Search Query</ion-label>
          <ion-textarea [(ngModel)]='value' type="text" style="background-color: #009979; height: 5em;" placeholder="Please describe the terms you would use to search from a database of foods commonly eaten and logged."></ion-textarea>
        </ion-item>
    <ion-button expand='full' (click)='onSave()' style="margin-left: 15px; margin-right: 15px;">Save</ion-button>
  
  </ion-content>
  