.is-invalid {
	color: #F57A00;
}

.is-valid {
	color: #22B24C;
}

#submit-button {
	background-color: #f2a846;
	color: white;
	font-weight: 500;
}

.centralize_justify {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 500;
	padding: 10px;

}

.capitalize{
    text-transform:capitalize;
}