<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Receipe URL</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-item lines="none">
        <ion-label position="stacked" style="margin-bottom: 10px;">Enter URL</ion-label>
        <ion-textarea [(ngModel)]='value' type="url" style="background-color: #009979; height: 5em;" placeholder="Please enter the URL of a recipe or other website which describes what you ate."></ion-textarea>
      </ion-item>
  <ion-button expand='full' (click)='onSave()' style="margin-left: 15px; margin-right:15px;">Save</ion-button>

</ion-content>
