<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Receipe URL</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="height: 100%; display: flex; flex-direction: column">
    <ion-row>
      <ion-col size="12">
        <div>
          <h1 class="instructions">The URL of a recipe or other website which describes what you ate.</h1>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="flex-grow: 1;">
      <ion-col size="12">
        <ion-item lines='none'>
          <ion-textarea [(ngModel)]='value' type="url" rows="6" cols="20"></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button expand="block" class="ion-no-margin" (click)="onSave()" placeholder="Enter URL">Save</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
