ion-toolbar {
 // --background: rgb(246, 205, 96);
    --background: rgb(242, 168, 70);    
    color: white;
}

.footer {
    height: 10vh;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(246, 205, 96);


    ion-icon {
        font-size: 3em;
        color: white;
    }

    ion-col {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

ion-content {
    // --background: rgb(242, 168, 70);
    --background: rgb(246, 205, 96);
}

.Content {
    height: 40vh;
    width: 100%;
    padding-left: 5vw;
    padding-right: 5vw;
    color: white;
    

    .card {
        background-color: #009979;
        padding-top: 5vh;
        padding-bottom: 2vh;
        border-radius: 25px;
        margin-bottom: 5vh;
    }
    margin-bottom: 35vh;
}

h1{
  color: white
}

.button{
  text-align: center;
}

ion-icon {
    font-size: 2.5em;
}

.icon {
  fill: #000;
}

.selected {
    color: #009979 !important;
}

fiv-app-bar{
  --fiv-color-appbar: rgb(242, 168, 70);
  --fiv-appbar-background-color: rgb(246, 205, 96);
  --fiv-color-fab-icon: #009979;
  --ion-color-primary:  white;

  --fiv-color-icons: white;
  --fiv-color-icons-active: #009979;
}
  
  fiv-app-bar-tab{
    --fiv-appbar-background-color: rgb(242, 168, 70);
    --fiv-color-icon: white;
  }
  
  fiv-fab {
    --background: #009979;
  }