<ion-header>
  <ion-toolbar>
    <button (click)="menu()">
      <ion-icon slot="icon-only" name="calendar"></ion-icon>
    </button>
    <ion-title>food Journal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="date">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col class="back">
          <button item-right clear (click)="backdate()"><ion-icon name="arrow-round-back"></ion-icon></button>
        </ion-col>

        <ion-col class="date">
          <p>{{calendar_date.toDateString()}}</p>
        </ion-col>

        <ion-col class="forward">
          <button item-right clear (click)="forwarddate()"><ion-icon name="arrow-round-forward"></ion-icon></button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div>
            <ion-card *ngFor="let log of logs_array">
              <ion-card-content>
                Entry made at {{log.date.getHours()}}:{{log.date.getMinutes()}}<br>


                <div *ngIf="log.entries[0].modality=='voice'">
                  <ion-row><ion-col size="2"><ion-icon name="play-circle"></ion-icon></ion-col><ion-col>{{log.entries[0].entry}}</ion-col></ion-row>
                </div>
                <div *ngIf="log.entries[0].modality=='text'">
                  <ion-row><ion-col size="2"><ion-icon name="text"></ion-icon></ion-col><ion-col>{{log.entries[0].entry}}</ion-col></ion-row>
                </div>
                <div *ngIf="log.entries[0].modality=='database'">
                  <ion-row><ion-col size="2"><ion-icon name="search"></ion-icon></ion-col><ion-col>{{log.entries[0].entry}}</ion-col></ion-row>
                </div>
                <div *ngIf="log.entries[0].modality=='url'">
                  <ion-row><ion-col size="2"><ion-icon name="globe"></ion-icon></ion-col><ion-col>{{log.entries[0].entry}}</ion-col></ion-row>
                </div>
                <div *ngIf="log.entries[0].modality=='barcode'">
                  <ion-row><ion-col size="2"><ion-icon name="barcode"></ion-icon></ion-col><ion-col>{{log.entries[0].entry}}</ion-col></ion-row>
                </div>
                <div *ngIf="log.entries[0].modality=='foodImg'">
                  <ion-row><ion-col size="2"><ion-icon name="camera"></ion-icon></ion-col><ion-col>{{log.entries[0].entryentry.entry}}</ion-col></ion-row>
                </div>


                <div *ngIf="log.platform =='ios'">
                <ion-row><ion-col size="2"><ion-icon name= "phone-portrait"></ion-icon></ion-col><ion-col>{{log.platform}}</ion-col></ion-row>
                </div>
                <div *ngIf="log.platform == 'android'">
                  <ion-row><ion-col size="2"><ion-icon name= "phone-portrait"></ion-icon></ion-col><ion-col>{{log.platform}}</ion-col></ion-row>
                </div>
                <div *ngIf="log.platform == 'watch'">
                <ion-row><ion-col size="2"><ion-icon name="watch"></ion-icon></ion-col><ion-col>{{log.platform}}</ion-col></ion-row>
                </div>
                <div *ngIf="log.platform == 'Alexa'">
                <ion-row><ion-col size="2"><ion-icon name="mic"></ion-icon></ion-col><ion-col>{{log.platform}}</ion-col></ion-row>
                </div>
                <div *ngIf="log.platform == 'Google Home'">
                <ion-row><ion-col size="2"><ion-icon name="mic"></ion-icon></ion-col><ion-col>{{log.platform}}</ion-col></ion-row>
                </div>

              </ion-card-content>
            </ion-card>
          </div>

          <div *ngIf="logs_array.length==0">
            <ion-card>
              <ion-card-content> No entries </ion-card-content>
            </ion-card>
          </div>

        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>

<ion-footer>
    <div class="footer">
        <ion-grid>
          <ion-row class="ion-justify-content-center">
            <ion-col size="4" (click)="nav(0)"><ion-icon class="selected"name="bookmarks"></ion-icon></ion-col>
            <ion-col size="4" (click)="nav(1)"><ion-icon name="home"></ion-icon></ion-col>
            <ion-col size="4" (click)="nav(2)"><ion-icon name="settings"></ion-icon></ion-col>
          </ion-row>
        </ion-grid>
      </div>
</ion-footer>
